* {
		border: none;
		/* font-family: Hack Nerd Font; */
		font-family: Noto Sans Regular;
		font-size: 13px;
		min-height: 0;
}

window#waybar {
		background: rgba(68, 68, 68, 0.8); /* #444444 with 0xd0 alpha */
		border-bottom: 0px solid rgba(0, 0, 0, 0.8157); /* #000000 with 0xd0 alpha */
		color: #bbbbbb;
}
#workspaces {
		padding: 0;
}
#workspaces button {
		border-radius: 0;
		padding: 0 4px;
		color: #bbbbbb;
		background: rgba(34, 34, 34, 0.8);
}

#workspaces button.active {
		color: #eeeeee;
		background: rgba(68, 68, 68, 0.8);
		border-radius: 0;
}

#mode, #tray, #window {
		padding: 0 4px;
		background: rgba(34, 34, 34, 0.8);
		border-radius: 0;
}

#custom-media,
#custom-net,
#custom-vol,
#custom-cpu,
#custom-disk,
#memory,
#clock {
    background-color: rgba(34, 34, 34, 0.8);
    border-radius: 0; /* Optional: Remove rounded corners */
    padding: 0 0px;  /* Adjust padding as needed */
}
#custom-layout {
    padding: 0 4px;
    background: rgba(68, 68, 68, 0.8);
    border-radius: 0;
    font-family: "Hack Nerd Font";
}

#tags button:not(.occupied):not(.focused):not(.urgent) {
  font-size: 0;
  min-width: 0;
  min-height: 0;
  margin: -8px;        /* tweak to collapse spacing for your theme */
  padding: 0;
  border: 0;
  opacity: 0;
  box-shadow: none;
  background-color: transparent;
}

#tags button.occupied,
#tags button.focused,
#tags button.urgent {
    border-radius: 0;
    padding: 0 4px;
    color: #bbbbbb;
    background: rgba(34, 34, 34, 0.8);
}
#tags button.focused { color: #eeeeee; background: rgba(68, 68, 68, 0.8); border-radius: 0; }
